<!-- about.html to display about page -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Medicines{% endblock %}
{% block content %}
<div style="background-color:lightblue;">
<div style="display: flex; align-items: center;">
    <div style="flex: 1;">
        <img src="{% static 'images/ab.jpg' %}" alt="wallpaper" style="width:600px;height:500px;">
    </div>
     <div style="flex: 1;">
    <h1 style="text-align:center"><i>About Us</i></h1>
    <br>
     <p>
          At MedPharma, we are dedicated to providing you with convenient and affordable access to the medications and healthcare products you need. Our mission is to improve the health and well-being of our customers by offering a wide range of prescription and over-the-counter medications, as well as health and wellness products.
     Your health is our top priority. We work with licensed and reputable pharmaceutical suppliers to ensure that all medications meet the highest quality and safety standards.We understand that your time is valuable. Our user-friendly website allows you to order your medications from the comfort of your home, 24/7. We also offer fast and reliable shipping options to ensure you receive your medications on time.We take your privacy and security seriously. Our website is designed with state-of-the-art encryption and data protection measures to ensure that your personal information is kept safe.
     </p>

</div>
{% endblock %}
