<!-- accounts.html. To display profile page -->
{% extends 'base.html' %}
{% load static %}
<br>
{% block content %}
<div  style="background-color:ivory;height:500px;">
<br>
 
<!-- If user is  authenticated -->
{% if user.is_authenticated %}
<h4>Hello,{{user.username}}..Welcome to Medpharma!!!!!</h4>
<h5>Happy Shopping!</h5>
<center>
    <div>
     <img src="{% static 'images/wal.jpg' %}" alt="wallpaper" style="width:800px;height:300px;">
        </div>
        </center>
 
<!-- Display links for orders,saved addresses,home,signout  -->
<a href ="{%url 'address' %}">Saved Addresses</a>
<br>
<a href ="{%url 'signout' %}">Signout</a>
{% else %}

   <center>
    <div>
     <img src="{% static 'images/wal.jpg' %}" alt="wallpaper" style="width:800px;height:300px;">
        </div>
        </center>
        <p>You are not logged in!!Create your profile here.....</p> <!-- If not authenticated-->
<b>
    <!-- Display  link for signin and signup -->
<a href="{%url 'signin' %}">Signin</a> | <a href="{%url 'signup' %}">Signup</a></b>
{% endif %}
</div>
{% endblock %}
